<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Headsets/headsets.css" />
    <title>Headsets</title>
  </head>
  <body>
    <div class="headsets">
      <div class="headsets__ellipse">
        <img src="../../assets/images/ellipse_18.png" alt="ellipse18" />
      </div>
      <div class="headsets__header">
        <h2 class="headsets__title">Mixed Reality Headsets</h2>
        <select class="headsets__select" name="select">
          <option value="new-first">New first</option>
          <option value="new-last">New last</option>
        </select>
      </div>
      <ul class="headsets__articles">
        <li class="headsets__articles-text">
          <img src="../../assets/images/manvr1.png" alt="man-vr1" />
          <div class="headsets__articles-box">
            <h3 class="headsets__articles-title">Metaverse</h3>
            <p class="headsets__articles-descr">
              A Network of 3D virtual worlds focused on social connection.
            </p>
          </div>
        </li>
        <li class="headsets__articles-text">
          <img src="../../assets/images/manvr2.png" alt="man-vr2" />
          <div class="headsets__articles-box">
            <h3 class="headsets__articles-title">Metaverse</h3>
            <p class="headsets__articles-descr">
              A Network of 3D virtual worlds focused on social connection.
            </p>
          </div>
        </li>
        <li class="headsets__articles-text">
          <img src="../../assets/images/manvr3.png" alt="man-vr3" />
          <div class="headsets__articles-box">
            <h3 class="headsets__articles-title">Metaverse</h3>
            <p class="headsets__articles-descr">
              A Network of 3D virtual worlds focused on social connection.
            </p>
          </div>
        </li>
        <li class="headsets__articles-text">
          <img src="../../assets/images/manvr4.png" alt="man-vr4" />
          <div class="headsets__articles-box">
            <h3 class="headsets__articles-title">Metaverse</h3>
            <p class="headsets__articles-descr">
              A Network of 3D virtual worlds focused on social connection.
            </p>
          </div>
        </li>
        <li class="headsets__articles-text">
          <img src="../../assets/images/manvr5.png" alt="man-vr5" />
          <div class="headsets__articles-box">
            <h3 class="headsets__articles-title">Metaverse</h3>
            <p class="headsets__articles-descr">
              A Network of 3D virtual worlds focused on social connection.
            </p>
          </div>
        </li>
        <li class="headsets__articles-text">
          <img src="../../assets/images/manvr6.png" alt="man-vr6" />
          <div class="headsets__articles-box">
            <h3 class="headsets__articles-title">Metaverse</h3>
            <p class="headsets__articles-descr">
              A Network of 3D virtual worlds focused on social connection.
            </p>
          </div>
        </li>
      </ul>

      <ul class="headsets__pagination">
        <li class="pagination-arrow">
          <img
            src="../../assets/icons/pagination/left_page.png"
            alt="arrow left"
          />
        </li>
        <li class="pagination__num--active">1</li>
        <li class="pagination__num">2</li>
        <li class="pagination__num">...</li>
        <li class="pagination__num">9</li>
        <li class="pagination__num">10</li>
        <li class="pagination-arrow">
          <img
            src="../../assets/icons/pagination/right_page.png"
            alt="arrow right"
          />
        </li>
      </ul>
    </div>
  </body>
</html>
