<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Hero/hero.css" />
    <title>Hero</title>
  </head>
  <body>
    <section class="hero">
      <div class="hero__items">
        <div class="hero__ellipse">
          <img src="../../assets/images/ellipse_6.png" alt="" />
        </div>
        <h1 class="hero__items-title">
          Let’s Explore Three-Dimensional visual
        </h1>
        <p class="hero-items__description">
          With virtual technology you can see the digital world feel more real
          and you can play the game with a new style.
        </p>
        <div class="hero__items-btns">
          <button class="hero__items-btns-get">Get it Now</button>
          <button class="hero__items-btns-explore">Explore Device</button>
        </div>
        <ul class="hero__item-online">
          <li class="hero__item-online-people">
            <img src="../../assets/icons/peopleonline/girl1.png" alt="girl 1" />
          </li>
          <li class="hero__item-online-people">
            <img src="../../assets/icons/peopleonline/girl2.png" alt="girl 2" />
          </li>
          <li class="hero__item-online-people">
            <img src="../../assets/icons/peopleonline/girl3.png" alt="girl 3" />
          </li>
          <li class="hero__item-online-people">
            <img src="../../assets/icons/peopleonline/boy.png" alt="boy" />
          </li>
          <li class="hero__item-online-text">
            <img
              src="../../assets/icons/peopleonline/ellipse5.png"
              alt="ellipse"
            />
            <p>400k people online</p>
          </li>
        </ul>
      </div>

      <div class="hero__main">
        <img
          class="hero__main-girl"
          src="../../assets/images/girl-vr.png"
          alt="girl-vr"
        />

        <div class="hero__main-descr">
          <h2 class="hero__main-title">Cinematic Virtual Reality</h2>

          <img src="../../assets/images/line_1.png" alt="line" />

          <p class="hero__main-description">
            Let’s be the best for more real and effective results and ready to
            explore the limitless world that we have prepared for you.
          </p>
        </div>
        <div class="hero__main-ellipse">
          <img src="../../assets/images/Ellipse 7.svg" alt="ellipse7" />
        </div>
      </div>
    </section>
  </body>
</html>
