<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link
      rel="stylesheet"
      href="../../components/CompanyValues/companyValues.css"
    />
    <title>Company Values</title>
  </head>
  <body>
    <section class="company-values">
      <div class="company__ellipse">
        <img src="../../assets/images/ellipse_19.png" alt="ellipse19" />
      </div>
      <div class="company-values__main">
        <div class="company-values__item">
          <div class="company-values__title-heart">
            <h2 class="company-values__title">Our company values culture</h2>
            <img
              class="company-values__img-hearts"
              src="../../assets/icons/values/hearts.png"
              alt="hearts"
            />
          </div>
          <p class="company-values__descr">
            We specialize in creating visual identities for products and branda
            in your company.
          </p>
        </div>
        <ul class="company-values__benefits">
          <li class="company-values__benefits-name">
            <img
              class="company-values__benefits-name__img"
              src="../../assets/icons/values/peace.png"
              alt="peace"
            />
            <p class="company-values__benefits-name__descr">Be Sincere</p>
          </li>
          <li class="company-values__benefits-name">
            <img
              class="company-values__benefits-name__img"
              src="../../assets/icons/values/together.png"
              alt="strong-together"
            />
            <p class="company-values__benefits-name__descr">
              Stronger together
            </p>
          </li>
          <li class="company-values__benefits-name">
            <img
              class="company-values__benefits-name__img"
              src="../../assets/icons/values/simple.png"
              alt="simple"
            />
            <p class="company-values__benefits-name__descr">Keep it simple</p>
          </li>
          <li class="company-values__benefits-name">
            <img
              class="company-values__benefits-name__img"
              src="../../assets/icons/values/lamp.png"
              alt="lamp"
            />
            <p class="company-values__benefits-name__descr">
              Take intelligent risks
            </p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
