<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="stylesheet" href="../../components/SignIn/signIn.css">
    <title>Sign In</title>
</head>
<body>
    
        
        <form class="sign-in__form"><h2 class="sign-in__title">Sign In</h2> 
        <input class="sign-in__user" type="userName" placeholder="Email or username">
        <input class="sign-in__password" type="password" placeholder="Password">
        <button class="sign-in__btn">Sign In</button></form>
       
    
</body>
</html>
