<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="stylesheet" href="../../components/AuthedHeader/authedHeader.css"> 
    <title>Authed Header</title>
</head>
<body>
<div class="user__menu">
     <!-- <img src="../../assets/icons/usermenu/arruo.png" alt="arr up"> -->
     <button class="user__menu-btn">User menu</button>
     <div class="user__menu-select" name="user menu">
    <a href="#">Recently Added</a>
    <a href="#">Card management</a>
    <a href="#">Log out</a>
     </div>

</div>
  
</body>
</html>
