<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Video/video.css" />
    <title>Video</title>
  </head>
  <body>
    <div class="video">
      <h2 class="video__title">
        Awesome experiences with virtual reality world
      </h2>

      <img
        class="video__background"
        src="../../assets/images/background-video.png"
        alt="background-video"
      />
      <img class="video__img" src="../../assets/images/video.png" alt="video" />
    </div>
  </body>
</html>
