<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Clients/clients.css" />
    <title>Clients</title>
  </head>

  <body>
    <div class="clients">
      <div class="clients__top-text">
        <h2 class="clients__title">What our clients say</h2>
        <p class="clients__descr">
          See what our customer say about us. It really matter for us. How good
          or bad we will make ir for evaluation to make EhyalLive better.
        </p>
      </div>
      <ul class="clients__feedback">
        <li class="clients__feedback-pers">
          <h3 class="feedback__title">
            starstar <span class="feedback__title-span">star</span>
          </h3>
          <p class="feedback__descr">
            “I know in real-time where the money is spent,and I don’t have to
            lend out the company’s credit card anymore. What a relief!”
          </p>
          <div class="feedback__descr-info">
            <img
              class="feedback__photo"
              src="../../assets/icons/clientsphoto/client1.png"
              alt="client-1"
            />
            <p class="feedback__name">Denny Hilguston</p>
            <address class="feedback__address">@denny.hill</address>
          </div>
        </li>
        <li class="clients__feedback-pers">
          <h3 class="feedback__title">
            starstar <span class="feedback__title-span">star</span>
          </h3>
          <p class="feedback__descr">
            VISUALS are much better. The improvements in optics and resolution
            and much more than a modern console generation leap.
          </p>
          <div class="feedback__descr-info">
            <img
              class="feedback__photo"
              src="../../assets/icons/clientsphoto/client2.png"
              alt="client-2"
            />
            <p class="feedback__name">Vani Pandey</p>
            <address class="feedback__address">@vani.pandey</address>
          </div>
        </li>
        <li class="clients__feedback-pers">
          <h3 class="feedback__title">
            starstar <span class="feedback__title-span">star</span>
          </h3>
          <p class="feedback__descr-last">
            I can actually see the improvement in the graphics, not having the
            external sensors is a big plus.
          </p>
          <div class="feedback__descr-info">
            <img
              class="feedback__photo"
              src="../../assets/icons/clientsphoto/client3.png"
              alt="client-3"
            />
            <p class="feedback__name">milly Singh</p>
            <address class="feedback__address">@milly.singh</address>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
