<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="stylesheet" href="../../components/ItemPage/itemPage.css">
    <title>Item Page</title>
</head>
<body>
    
    <div class="item-page">
        <img class="item-page__article" src="../../assets/images/item-man.png" alt="item man">
        
        <h2 class="item-page__title">Metaverse</h2>
        <p class="item-page__descritpion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum qui omnis dolorum vitae facilis nisi quibusdam voluptate optio iusto dolorem, reprehenderit id, quisquam eveniet suscipit exercitationem. Pariatur, sunt quos?</p>
    
    </div>
    
</body>
</html>