<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Explore/explore.css" />
    <title>Explore</title>
  </head>

  <body>
    <footer class="explore">
      <div class="explore__items-img">
        <div class="explore__items">
          <div class="explore__info">
            <h2 class="explore__title">
              Explore product in new way
              <img
                class="explore-email__img"
                src="../../assets/icons/email/arr.png"
                alt=""
              />
            </h2>

            <p class="explore__descr">
              We specialize in creating visual identities for products and
              branda in your company.
            </p>
          </div>
          <form class="explore__form">
            <input class="explore__email" type="email" placeholder="Email" />
            <button class="explore__email-btn">
              Start
              <img
                class="explore__email-img-btn"
                src="../../assets/icons/email/arr2.png"
                alt="arr2"
              />
            </button>
          </form>
        </div>
        <img
          class="explore__background"
          src="../../assets/images/emailbackground.png"
          alt="emailbackground"
        />
      </div>
    </footer>
  </body>
</html>
