<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Experience/experience.css" />
    <title>Experience</title>
  </head>
  <body>
    <div class="experience">
      <div class="experience-item">
        <img
          class="experience-item__girl"
          src="../../assets/images/girlvr1.png"
          alt="girlvr1"
        />
        <img
          class="experience-item__boy"
          src="../../assets/images/boyvr1.png"
          alt="boyvr1"
        />
      </div>
      <div class="experience__text">
        <h3 class="experience-title">New Experience In Playing Game</h3>
        <p class="experience-description">
          You can try playing the game with a new style and of course a more
          real feel, like you are the main character in your game and adventure
          in this new digital world.
        </p>

        <button class="experience__getIt-btn">Get it Now</button>
      </div>
    </div>
  </body>
</html>
