<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Header/header.css" />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <h3 class="header__title">Light</h3>
      <div class="header__ellipse">
        <img
          class="header__ellipse-img"
          src="../../assets/images/elipse1.png"
          alt="ellipse1"
        />
      </div>
      <nav class="header__nav">
        <ul class="header__nav-items">
          <li class="header__nav-item--active"><a href="#"></a>Home</li>
          <li class="header__nav-item"><a href="#"></a>Company</li>

          <li class="header__nav-item"><a href="#"></a>Features</li>
        </ul>
        <button class="header__sign-in-btn">Sign In</button>
      </nav>
    </header>
  </body>
</html>
