<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="stylesheet" href="../../components/AddingCard/addingCard.css"> 
    <title>Adding Card</title>
</head>
<body>
    <div class="adding-card">
        <h2 class="adding-card__title">Realities cards</h2>
       <img class="adding-card__img" src="../../assets/images/addcard_background.png" alt="addcard background">
        <form class="adding-card__form">
            <h2 class="adding-card__new">Add new card</h2>
           <input class="adding-card__name" type="text" placeholder="Card name">
           <input class="adding-card__descr" type="text" placeholder="Card description">
           <input class="adding-card__img-name" type="text" placeholder="Card image name"> 
        </form>
           
       
       
           <button class="adding-card__btn">Add</button>
       
    </div>
</body>
</html>